<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>

		<%- include('partials/head.ejs') %>
	</head>
	<body>
		<%- include('partials/navigation.ejs') %>

		<main
			class="vh-100 container pt-2 text-center d-flex jutify-content-center align-items-center"
		>
			<section>
				<h1 class="display-1">About</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique
					ipsa culpa quia pariatur eos eveniet facere perspiciatis aperiam
					repellendus, ea ad, fuga libero asperiores aliquam sed quidem
					consectetur deserunt voluptates explicabo maiores expedita assumenda
					harum magnam atque? Repudiandae ab, eligendi recusandae ducimus
					deserunt quis hic ut consectetur facilis aut perferendis dicta
					dignissimos sit amet distinctio nam deleniti tempore animi illo cum.
					At placeat ut perferendis doloribus, ipsam voluptate dolorem
					praesentium odit consequuntur exercitationem recusandae enim possimus!
					Fugiat excepturi enim pariatur porro natus libero impedit rem
					similique possimus explicabo, accusamus rerum temporibus quis
					voluptates sunt? Error quibusdam optio aperiam? Atque magni ad quae.
					Quisquam minima fugit, sequi quae consequatur ipsam fuga, quaerat
					voluptates blanditiis eius aliquam id rerum, molestias eveniet nemo
					error ducimus vel saepe earum laborum maxime aspernatur quidem? Quidem
					beatae veniam amet. Repellat quidem, tenetur consequuntur minima
					corporis reprehenderit veniam blanditiis quisquam, ut totam at?
					Tempora veritatis dicta aperiam. Repudiandae ducimus dolore ratione
					aspernatur commodi dicta quae id laborum laboriosam beatae quibusdam,
					ut similique voluptas blanditiis nemo est sint ipsam dignissimos
					numquam repellendus eligendi? Officia, placeat sed. Non nostrum vitae
					nesciunt perspiciatis illum earum aut, velit recusandae, quidem
					ducimus temporibus maxime delectus facilis sunt cupiditate quos,
					provident quia dicta?
				</p>
			</section>
		</main>
		<%- include('partials/footer.ejs') %>
	</body>
</html>
